pip==9.0.1
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.5.1
Sphinx==1.7.1
twine==1.10.0

pytest==3.4.2
pytest-runner==2.11.1

# require:
aiohttp==3.4.1
cchardet==2.1.1
aiodns==1.1.1
#
uvloop==0.11.2

# https://pyyaml.org/wiki/PyYAMLDocumentation
#   - python setup.py --with-libyaml install
pyyaml==3.13

#
coloredlogs==10.0
